body {
  font-size: 16px;

  background: url(../img/cv-fbr-background.jpg);
  background-size: 300% auto;
  background-repeat: no-repeat;

  .Header {
    .HeaderContent {
      #Photo {
        width: 200px;
        height: auto;
        margin-left: 10%;
      }
    }
  }

  .Colonnes {
    #SortDown {
      width: 15px;
      margin-right: 10px;
    }
  }

  .Profile {
    order: 1;
    width: 50%;
  }

  .CV {
    order: 2;
    width: 100%;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;

    background: url(../img/cv-fbr-background.jpg);
  background-size: 600% auto;
  background-repeat: no-repeat;

    .Header {
      .HeaderContent {
        #Photo {
          width: 125px;
          height: auto;
          margin-left: 5%;
        }
      }
    }

    .Profile {
      order: 1;
      width: 85%;
    }

    .CV {
      order: 2;
      width: 85%;
    }
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;

    background: url(../img/cv-fbr-background.jpg);
  background-size: 1550% auto;
  background-repeat: no-repeat;

    .Header {
      .HeaderContent {
        #Photo {
          width: 125px;
          height: auto;
          margin-left: 0%;
        }
      }
    }
    .Colonnes {
      flex-direction: column;

      .CV {
        order: 1;
      }

      .Profile {
        order: 2;
      }

      .Informations {
        order: 4;
      }
    }
  }
}

.Header {
  .HeaderContent {
    display: flex;
    justify-content: center;

    .HeaderText {
      text-align: center;
      margin: auto;
      border: 2px solid black;
      width: 50%;
    }

    #Photo {
      display: block;
      list-style-type: none;
      border-radius: 100%;
    }
  }
}

.Colonnes {
  display: flex;

  .CV {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .AboutMe {
    display: flex;
    flex-direction: column;

    .AboutMeTitle {
      border-bottom: 2px solid black;
    }

    .AboutMeTitle:hover {
      background-color: yellow;
      cursor: pointer;
    }

    .AboutMeText {
      display: flex;
    }
  }

  .Experiences {
    display: flex;
    flex-direction: column;

    .ExperiencesTitle {
      border-bottom: 2px solid black;
    }

    .ExperiencesTitle:hover {
      background-color: yellow;
      cursor: pointer;
    }

    .ExperiencesText {
      display: flex;
      flex-direction: column;
    }
  }

  .Formations {
    display: flex;
    flex-direction: column;

    .FormationsTitle {
      border-bottom: 2px solid black;
    }

    .FormationsTitle:hover {
      background-color: yellow;
      cursor: pointer;
    }

    .FormationsText {
      display: flex;
      flex-direction: column;
    }
  }

  .Profile {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .Informations {
    display: flex;
    flex-direction: column;
    list-style-type: none;

    .InformationsTitle {
      border-bottom: 2px solid black;
    }

    .InformationsTitle:hover {
      background-color: yellow;
      cursor: pointer;
    }

    .InformationsGras {
      font-weight: bold;
      align-items: flex-start;
    }

    .InformationsDesc {
      align-items: flex-end;
    }

    .Adresse {
      display: flex;
      align-items: flex-start;

      .AdresseContent {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      #LocationIcon {
        width: 25px;
        height: auto;
        margin-right: 10px;
      }

      .AdresseText {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
      }
    }

    .Email {
      display: flex;
      align-items: flex-start;

      .EmailContent {
        display: flex;
        align-items: center;
      }

      #EmailIcon {
        width: 25px;
        height: auto;
        margin-right: 10px;
      }

      .EmailText {
        flex-direction: column;
      }
    }

    .Telephone {
      display: flex;
      align-items: flex-start;

      .TelephoneContent {
        display: flex;
        align-items: center;
      }

      #TelephoneIcon {
        width: 25px;
        height: auto;
        margin-right: 10px;
      }

      .TelephoneText {
        flex-direction: column;
      }
    }

    .Naissance {
      display: flex;
      align-items: flex-start;

      .NaissanceContent {
        display: flex;
        align-items: center;
      }

      #CalendarIcon {
        width: 25px;
        height: auto;
        margin-right: 10px;
      }

      .NaissanceText {
        flex-direction: column;
      }
    }

    .Permis {
      display: flex;
      align-items: flex-start;

      .PermisContent {
        display: flex;
        align-items: center;
      }

      #PermisIcon {
        width: 25px;
        height: auto;
        margin-right: 10px;
      }

      .PermisText {
        flex-direction: column;
      }
    }

    .Reconnaissance {
      display: flex;
      align-items: flex-start;

      .ReconnaissanceContent {
        display: flex;
        align-items: center;
      }

      #ManIcon {
        width: 25px;
        height: auto;
        margin-right: 10px;
      }

      .ReconnaissanceText {
        flex-direction: column;
      }
    }
  }

  .Competences {
    display: flex;
    flex-direction: column;

    .CompetencesTitle {
      border-bottom: 2px solid black;
      width: 100%;
    }

    .CompetencesTitle:hover {
      background-color: yellow;
      cursor: pointer;
    }

    .CompetencesText {
      flex-direction: column;
    }
  }

  .Langues {
    display: flex;
    flex-direction: column;

    .LanguesTitle {
      border-bottom: 2px solid black;
      width: 100%;
    }

    .LanguesTitle:hover {
      background-color: yellow;
      cursor: pointer;
    }

    .LanguesText {
      flex-direction: column;
    }
  }

  .Interets {
    display: flex;
    flex-direction: column;

    .InteretsTitle {
      border-bottom: 2px solid black;
      width: 100%;
    }

    .InteretsTitle:hover {
      background-color: yellow;
      cursor: pointer;
    }

    .InteretsText {
      flex-direction: column;
    }
  }

  .Liens {
    display: flex;
    flex-direction: column;

    .LiensTitle {
      border-bottom: 2px solid black;
    }

    .LiensTitle:hover {
      background-color: yellow;
      cursor: pointer;
    }

    .LiensContent {
      display: flex;

      .LiensList {
        list-style-type: none;
      }

      #GitHubIcon {
        width: 25px;
        height: auto;
        margin-right: 10px;
      }

      #GitHubIcon:hover {
        background-color: yellow;
        border-radius: 100%;
      }

      #LinkedInIcon {
        width: 25px;
        height: auto;
        margin-right: 10px;
      }

      #LinkedInIcon:hover {
        background-color: yellow;
      }
    }
  }
}
